@import 'variables';
a {
  all: unset;
}


/////NAVBAR/////

@import url(https://fonts.googleapis.com/css?family=Quicksand);
html,
body {
   height: 100%;
   font-family: 'Quicksand', sans-serif;
   color: black;
}
.b-a {
   transition: all .25s;
   content: "";
   position: absolute;
   left: 0;
   height: 6px;
   width: 30px;
   border-radius: 15px;
   background-color: lightgrey;
}
.menu-collapsed {
    z-index: 2;
   transition: all .25s;
   position: fixed;
   top: 10px;
   left: 9px;
   height: 36px;
   width: 36px;
   z-index: 1;
   cursor: pointer;
   ul {
      transition: all 0s;
      position: fixed;
      left: -9000px;
   }
}
.bar {
   @extend .b-a;
   position: fixed;
   left: 12px;
   top: 24px;
   &:before {
      @extend .b-a;
      top: -8px;
   }
   &:after {
      @extend .b-a;
      top: 8px;
   }
}
.b-a-expanded {
   z-index: 2;
   transition: all .25s;
   top: -0px;
}
.menu-expanded {
    z-index: 2;
   transition: all .25s;
   text-align: center;
   line-height: 200px;
   height: 100%;
   width: 100%;
   border-radius: 0px;
   top: 0;
   left: 0;
   background-color: rgba(0, 0, 0, 0.85);
   ul {
      transition: all 0s;
      position: relative;
      left: 0;
      z-index: 2;
   }
   a {
      transition: all .15s;
      text-decoration: none;
      font-size: 2em;
      padding: 5px;
      color: #fff;
      display:block;
      &:hover {
         background-color:rgba(white, .8);
         transition: all .15s;
         letter-spacing: 2px;
         color:#333;
         border: 1px solid rgba(255, 255, 255, .15);
      }
   }
   .bar {
      background-color: transparent;
      transition: all .25s;
      &:before {
         @extend .b-a-expanded;
         transform: rotate(45deg);
      }
      &:after {
         @extend .b-a-expanded;
         transform: rotate(-45deg);
      }
   }
}
.row {
   padding-top:150px;
}
h1 {
   font-size: 3em;
}
p {
   line-height: 160%;
   letter-spacing:1px;
}

/////ABOUT ME/////
.aboutme-page {
  padding: 0;

  .aboutme-div {
     padding: 0;

    .aboutme-div2 {
      padding: 0;

    #bio-photo {
        padding: 0;
        position: relative;
        width: 100%;
        height: 292px;
     }
    }
  .aboutme-p {
     margin: 10px;
     padding: 5px;
   }  
  }  
}

.professional-page {
  padding: 0;

  h1 {
    position: absolute;
    right: 5%;
    top: 80%;
    z-index: 1;
  }

  #pro-img {
    position: relative;
    width: 100%;
    height: 390px;
  }
}

.projects-page {
  padding: 0;

   h1 {
    position: absolute;
    left: 5%;
    bottom: 82%;
    z-index: 1;
  }

  #project-img {
    position: relative;
    width: 100%;
    height: 100%;
  }

}

.blog-page {
  padding: 0;

   h1 {
    position: absolute;
    right: 2%;
    bottom: 75%;
    z-index: 1;
  }

  #blog-img {
    position: relative;
    width: 100%;
    height: 293px;;
  }
}

.contact-page {
  padding: 0;

   h1 {
    position: absolute;
    right: 10%;
    top: 75%;
    z-index: 1;
  }

  #contact-img {
    position: relative;
    width: 100%;
    height: 293px;;
  }
}

/////PROFESSIONAL PAGE/////
.pro-title {
  font-size: 25px;
}

.professional-background {
 background-color: lightgrey;
 padding: 10px;

  .workhistory {
    padding: 5px;
  }

  h3 {
    color: black;
  }

  h4, h6, ul {
    color: black;
  } 
}

/////BLOG/////
.blog-title {
  font-size: 25px;
}

.blog-background {
  padding: 20px;
  background-color: lightgray;

  .blog {
    border-bottom: 2px solid black;
  }
}



