<div id='aboutme'>

  <div class="professional-page col-xs-6">
    <a href="#!/bio/professional">
      <h1>Professional History</h1>
      <img src="../../images/professional-photo.jpeg" id="pro-img">
    </a>
  </div>

  <div class="projects-page col-xs-6">
    <a href="#!/bio/projects">
      <h1>Projects</h1>
      <img src="../../images/project.jpeg" id="project-img">
    </a>
  </div>

  <div class="aboutme-page col-xs-12">
    <a href="#!/bio/blog">
      <div class="col-xs-3 blog-page">
        <h1>Blog</h1>
        <img src="../../images/blog.jpeg" id="blog-img">
    </a>
    </div>

    <div class='col-xs-6 aboutme-div'>
      <div class='col-xs-6 aboutme-div2'>
        <img id="bio-photo" src="../../images/me.jpg">
      </div>
      <div class='col-xs-6'>
        <p class="aboutme-p">
          My name is Amber and I am a native of good 'ole Tennessee. I grew up in Clarksville where I attended Austin Peay State Univeristy
          with a degree in Marketing. I'm currently working for the state DOT in the IT Division as an Executive Assistant.
          I hope to move into a development role to join my fellow IT peeps in the land of code!
        </p>
      </div>
    </div>

    <div class="col-xs-3 contact-page">
      <a href="#!/bio/contact">
        <h1>Contact Me</h1>
        <img src="../../images/contact.jpeg" id="contact-img">
      </a>
    </div>

  </div>