<div id='contact'>

  <div class='contact-page'>
    <h1>How to Contact Me</h1>
  </div>
  <div class="social-links">
    <ul class="social">
      <li><a href="mailto:wammber15@gmail.com" class="fa fa-envelope-o" aria-hidden="true"></a></li>
      <li><a href="https://github.com/waamber" class="fa fa-github" aria-hidden="true"></a></li>
      <li><a href="https://www.linkedin.com/in/amber-stuart-00076286/" class="fa fa-linkedin-square" aria-hidden="true"></a></li>
      <li><a href="https://twitter.com/amber_maynee?lang=en" class="fa fa-twitter-square" aria-hidden="true"></a></li>
    </ul>
  </div>

</div>